/***** 
-- CSS Variables 
*****/
:root {
    /* -- Custom Colors -- */
    --color-primary: #4397A4;
    --color-secondary: #486A6F;
    --color-tertiary: #678C92;
    --color-light: #C6DBFF;
    --color-background: #F4F7FF;
    --color-5BCCDE: #5BCCDE;
    --color-black: #000000;
    --color-white: #ffffff;

    /* -- Custom Fonts -- */
    --font-family: 'Noto Sans', sans-serif;
    --header-font-family: 'Merriweather', serif;

    /* -- Custom Font Sizes -- */
    --font-size-16: 16px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-36: 36px;
    --font-size-64: 64px;

}

/***** 
-- Custom Fonts 
*****/
@font-face {
    font-family: 'Noto Sans';
    src: url('../../../portfolio/assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf') format('truetype'),
         url('../../../portfolio/assets/fonts/Noto_Sans/static/NotoSans-Bold.ttf') format('truetype'),
         url('../../../portfolio/assets/fonts/Noto_Sans/static/NotoSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../../portfolio/assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype'),
         url('../../../portfolio/assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype'),
         url('../../../portfolio/assets/fonts/Merriweather/Merriweather-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/***** 
-- Reset default spacing 
*****/

h1, h2, h3, h4, h5, h6, p, b, span {
    padding: 0;
    margin: 0;
}

/***** 
-- Global Styles 
*****/
body, html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-16);
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    line-height: 1.2em;
    font-weight: 400;
    color: var(--color-secondary);
}

h1 {
    font-size: var(--font-size-64);
}

h2 {
    font-size: var(--font-size-36);
}

h3 {
    font-size: var(--font-size-24);
}

h4 {
    font-size: var(--font-size-22);
}

p {
    font-family: var(--font-family);
    color: var(--color-tertiary);
    line-height: 1.6em;
    color: var(--color-secondary);
}

.fc-678C92 {
    color: var(--color-tertiary);
}

.fc-4a7277 {
    color: var(--color-secondary);
}

.bg-F4F7FF {
    background: var(--color-background);
}

.button {
    background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary) 100%);
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    line-height: 1.2em;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.button:hover {
    background: var(--color-light);
    color: var(--color-black);
}

.button-light {
    background: var(--color-light);
    border-radius: 100px;
    border: none;
    color: var(--color-black);
    line-height: 1.2em;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.button-light:hover {
    background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary) 100%);
    color: var(--color-white);
}

.subheadline {
    color: var(--color-5BCCDE);
}

/* Main Wrapper */
.main-wrapper {
    width: 100%;
}

.max-width-800 {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

/*HEADER*/
.navbar {
    transition: background-color 0.3s ease, padding 0.3s ease;
    background-color: transparent;
}

.navbar .logo {
    height: 100px;
}

.navbar.scrolled {
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar.scrolled .logo {
    height: 65px;
}

/*SECTION 1*/
.section1 {
    padding: 170px 0 110px;
}

.section1 .content p {
    font-size: var(--font-size-22);
}

.auto-scroll .site-image  {
  height: 300px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  width: 100%;
}

.auto-scroll .site-image img {
  object-fit: cover;
  overflow: hidden;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.auto-scroll .site-image:hover img {
  transform: translateY(calc(-100% + 200px));
  transition: transform 10s ease-in-out;
}

.auto-scroll .row1 .col-12:nth-child(1) .site-image, .auto-scroll .row1 .col-12:nth-child(3) .site-image {
    height: 200px;
}

.auto-scroll .row2 .col-12:nth-child(1) .site-image {
    height: 500px;
}

.auto-scroll .row2 {
    margin-top: 15px;
}

/*SECTION 2*/
.section2 .icon {
    display: inline-block;
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 8px 15px 0px rgba(72,106,111,0.68);
    -webkit-box-shadow: 1px 8px 15px 0px rgba(72,106,111,0.68);
    -moz-box-shadow: 1px 8px 15px 0px rgba(72,106,111,0.68);
}

/*SECTION3*/
.section3 img {
    width: 100%;
    height: 750px;
    object-fit: cover;
}

/*SECTION 4*/
.card-hover .hover-card {
    position: relative;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.card-hover .hover-card .inactive {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: #fff;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.card-hover .hover-card .active {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px;
    color: #fff;
    transition: bottom 0.4s ease;
}

.card-hover .hover-card:hover .active {
    bottom: 0; 
}

.card-hover .hover-card:hover .inactive {
    opacity: 0;
}

.card-hover .hover-card:hover {
    transform: scale(1.03);
}

.card-hover .hover-card:before {
    content: '';
    background: linear-gradient(0deg, var(--color-primary) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-hover .hover-card h3, .card-hover .hover-card p {
    color: var(--color-white);
}

/*SECTION 5*/
.portfolio-slider img {
    width: 100%;
}